H2 {
    text-shadow:
      1px 1px white,
      2px 2px #777;
    color: #333;
    transition: all 1s;
  }
  
  H2:hover {
    text-shadow:
      1px 1px white,
      2px 2px royalblue;
    color: skyblue;
  }